<form class="center-div" autocomplete="off" novalidate>
  <fieldset>
    <div>
      <mat-form-field>
        <input type="text" matInput name="ID" [(ngModel)]="ID" placeholder="Enter The ID" [ngModelOptions]="{standalone: true}" />
      </mat-form-field>
    </div>
  </fieldset>
  <p>
    <button class="center-button" mat-raised-button color="primary" type="submit" (click)="FindPatientByID()" matTooltip="click to continue to treatment"
            matTooltipPosition="above">Search Patient</button>
  </p>
</form>
