<button class="summary-button" mat-raised-button color="primary" type="submit" (click)="showSummary()" matTooltip="הצג סיכום"
        matTooltipPosition="below">הצג סיכום</button>
<button class="summary-button" mat-raised-button color="primary" type="submit"  matTooltip="צור מרשם"
        matTooltipPosition="below">צור מרשם</button>
<button (click)="backPage()" mat-icon-button class="summary-button" mat-raised-button color="primary" type="submit" matTooltip="חזור לעמוד הקודם"
        matTooltipPosition="below"> <i class="material-icons">
  navigate_before
</i> </button>
