.button{
  color: GrayText !important;
  text-transform: uppercase;
  background: Menu;
  padding: 20px;
  border: 4px solid  !important;
  border-radius: 6px;
  display: inline-block;
  transition: all 0.3s ease 0s;
  width: 60%;
  font-size: large;
  font-weight: initial;
  height: 100px;
}
.tab{
  margin-bottom: 12%;
  float: bottom;
  width: 100%;
  height: 5%;
  direction: rtl;
  outline: black;

}
.float-down {
  float: bottom;
  width: auto;
  direction: rtl;
}
.center-header {
  alignment: center;
  horiz-align: center;
  text-align: center;
  background: lightsalmon;
  direction: rtl;
}
