
<mat-toolbar color="primary">
  ID: {{this.patient.ID}} First Name: {{this.patient.firstName}} Last Name: {{this.patient.lastName}} Age: {{this.patient.age}}
</mat-toolbar>
  <div class="tab">
    <app-group-card class="col" *ngFor="let group of groups" [groupInput]="group" [patient]="this.patient">  </app-group-card>
  </div>
<button (click)="backPage()" mat-icon-button class="summary-button" mat-raised-button color="primary" type="submit" matTooltip="חזור לעמוד הקודם"
        matTooltipPosition="before"> <i class="material-icons">
  navigate_before
</i> </button>


