<div>
  <span>
      Enter the patient's ID:
  </span>
  <form>

  </form>
</div>
<form autocomplete="off" novalidate>
  <fieldset>
    <legend> Summary </legend>
    <div class="form-field">
      <label>Title:</label>
      <input name="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-field">
      <label>Durantion:</label>
      <input name="durantion"[(ngModel)]= "durantion"  [ngModelOptions]="{standalone: true}" >
    </div>
    <div class="form-field">
      <label>Level:</label>
      <input type="radio" name="level" value="BEGINNER" [(ngModel)]="Slevel" [ngModelOptions]="{standalone: true}">Beginner
      <input type="radio" name="level" value="ADVANCED" [(ngModel)]="Slevel" [ngModelOptions]="{standalone: true}">Advanced
    </div>

  </fieldset>

  <p>
    <button class="lesson-button" type="submit">Create Lesson</button>
  </p>

</form>
<div class="debug">
  <h3>Lesson Value:</h3>
  {{this | json}}
</div>
