:host {
  display: block;
  position: relative;
  width: 20%;
  height: 50%;
  margin-bottom: 5%;
  margin-top: 5%;
}

input[type="checkbox"] {
  display: none;
}

.toggle-button-switch {
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 60%;
  background-color: rgb(255, 255, 251);
  border-radius: 100%;
  cursor: pointer;
  z-index: 100;
  transition: left 0.25s;
  margin-top: 11%;
  margin-bottom: 10%;
}


.toggle-button-text {
  overflow: hidden;
  background-color: rgba(249, 36, 31, 0.68);
  border-radius: 25px;
  box-shadow: 2px 2px 5px 0 rgb(0, 0, 0);
  transition: background-color 0.3s;
}

.toggle-button-text-on,
.toggle-button-text-off {
  float: left;
  width: 50%;
  height: 100%;
  line-height: 300%;
  font-family: Lato, sans-serif;
  font-weight: bold;
  color: #fff;
  text-align: center;
}

input[type="checkbox"]:checked ~ .toggle-button-switch {
  left: 50%;
}

input[type="checkbox"]:checked ~ .toggle-button-text {
  background-color: #398abf;
}

.spacing {
  line-height: 100%;
}
