<form [ngStyle]="{marginRight: ' '+this.tabs*400+'%'}">
  <h4 class="spacing">
    {{question}}
  </h4>
  <input type="checkbox" [id]="question" (ngModelChange)="Changed()" [(ngModel)]="isChanged" [ngModelOptions]="{standalone: true}">
  <label class="toggle-button-switch" [for]="question"></label>
  <div class="toggle-button-text">
    <div class="toggle-button-text-on">כן</div>
    <div class="toggle-button-text-off">לא</div>
  </div>
</form>
<app-qs-list class="diagnosis" (qsAndAnswersFromSectionEmit)="Merge($event)" [questions]="relatedQS" [count]="this.tabs+1" [ngStyle]="{display: this.display}"></app-qs-list>
<p>{{this.listOfQAA | json}}</p>
<p>{{this.qAndA | json}}</p>
<p>{{this.tabs | json}}</p>
